# ------------------ PYTHON ------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------ ENV / SECRETS ------------------
.env
.env.*
*.env

# ------------------ LOGS ------------------
*.log

# ------------------ GIT ------------------
.git
.gitignore

# ------------------ NODE ------------------
node_modules/

# ------------------ OS FILES ------------------
.DS_Store
Thumbs.db

# ------------------ MEDIA FILES ------------------
*.mp4
*.mp3
*.webm

# ------------------ DATA / MODELS ------------------
data/
faiss_data/
*.index

# ------------------ TEST / DOCS ------------------
tests/
docs/

# ------------------ IDE ------------------
.vscode/
.idea/